.App {
  padding: 15px;
  margin: 15px;
  border: 1px solid #878787;
  border-radius: 7px;
  max-width: 600px;
  background-image: url("https://images.pexels.com/photos/4175158/pexels-photo-4175158.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  border-radius: 4px;
  display: block;
  margin: auto;
  margin-top: 40px;
}
